# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.lock
*.mca
usercache.json
usernamecache.json
*.txt
*.gz
*.cfg
*.dat
*.properties
saves/*
